# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.env
.venv
env/
venv/
ENV/
myvenv/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
tests/

# Secrets & config
*.env
.env.*
secrets/
config/local_*.py

.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Qdrant local storage
qdrant_storage/

# Docker
docker-compose.override.yml