streamlit==1.52.0
agent-framework-core==1.12.1
agent-framework-foundry==1.10.3
mcp==1.28.1
redis==7.1.1
pydantic==2.12.5
httpx==0.28.1
pymongo==4.15.5
requests==2.32.5
openai==2.46.0
langchain-text-splitters==1.1.0
tiktoken==0.12.0
pinecone==8.0.0
Authlib==1.6.6
bcrypt==5.0.0
fastapi==0.129.2
uvicorn==0.41.0
gunicorn==25.0.1
opentelemetry-semantic-conventions-ai==0.4.13
deepeval==3.8.0
pydantic-settings==2.13.1
textual == 8.2.8
pytest==8.4.1
python-multipart==0.0.20
qdrant-client==1.16.2
pandas==2.3.3
